<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rls.smug_interface">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name=" android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".utilities.Slider"></activity>
        <activity android:name=".Interface" />
        <activity android:name=".deviceAndAction.AssociateGesture" />
        <activity android:name=".utilities.ColorHandler" />
        <activity android:name=".deviceAndAction.AddAction" />
        <activity android:name=".deviceAndAction.AddDevice" />
        <activity android:name=".user.RemoveUser" />
        <activity android:name=".user.ChangeUser" />
        <activity android:name=".user.AddUser" />
        <activity android:name=".Gesture.RemoveGesture" />
        <activity android:name=".Gesture.AddGesture" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Gesture.ListGestures" />
        <activity android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>